body{
    background-color: aqua;
    border-style:groove;
    border-color: green;
    justify-content: center;

}


div{
    text-align: right;
    object-position: 40px;
}


header{
    text-align: center;
    background-color:#203550;
    padding: 30px;
    width: 1400px;
    height: 50px;
    object-position: center;

}

.gif {
    text-align: center;
   padding: 15px;
}

p{
    border: solid;
    height: 170px;
    width: 100px;
    text-align: center;

}

.fo-1{
    background-color:#2a4569;
}

footer{
    text-align: center;
    background-color:#203550;
    padding: 35px;
    
}

.btn-1{
    height: 60px;
    width: 100px;
    background: rgb(190, 150, 141);
    border-radius:5px;
    object-position: right;
   
  }

.btn-2 {
    color: white;
    background: blue;
    transition: background 1s;
    height: 60px;
    width: 1220px;
  }
  .btn-2:hover,
  .btn-2:focus {
    background: red;
  }
